<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

</head>

<body class="bg-gray-100 dark:bg-gray-800 flex flex-col min-h-screen">
  <header class="bg-gray-800 text-white py-4">
      <div class="container mx-auto flex justify-between items-center px-4">
          <%- include('../partials/header') %>
      </div>
  </header>
  <hr class="border-black">

  <div class="border-gray-100 dark:bg-gray-900 h-screen w-screen flex items-center justify-center">
    
    <form action="/company/signin" method="POST" class="w-96">
      <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-lg">
        <div class="relative">
          <h2 class="text-lg font-bold text-orange-500 mb-4 text-center underline">Company sign in</h2>
        </div>
        
        <div class="relative z-0 w-full mb-5 group">
            <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
        </div>
        
        <div class="relative z-0 w-full mb-5 group">
            <input type="password" name="password" id="password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required minlength="6" />
            <label for="password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
        </div>

        <div class="mt-4 flex flex-col space-x-4 space-y-2 sm:space-y-0 sm:flex-row sm:items-center">
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign in</button>
          <div class="text-sm text-gray-600 dark:text-gray-200">
            New User? <a href="/company/signup" class="hover:text-blue-500 underline font-semibold">SignUp Here</a>
          </div>
        </div> 

      </div>
    </form>
    <!-- error message popup -->
  <% if (error) { %>
    <div id="error-popup" class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50">
        <div class="bg-gray-100 dark:bg-gray-800 p-5 rounded-lg shadow-lg text-center">
            <p class="text-red-500 font-semibold"><%= error %></p>
            <button 
                id="close-popup" 
                class="mt-4 px-4 py-2 w-full tracking-widest font-semibold bg-red-500 text-white rounded-lg hover:bg-red-600">
                Close
            </button>
        </div>
    </div>
  <% } %>
  </div>

  <!-- for popup -->
<script>
  const popup = document.getElementById('error-popup');
  const closeButton = document.getElementById('close-popup');
  if (popup && closeButton) {
      closeButton.addEventListener('click', () => {
          popup.style.display = 'none';
      });
  }
</script>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>