<header>
    <nav>
        <ul>
            <li><a href="/" class="hover:text-blue-400">Home</a></li>
            <!-- <li><a href="/login" class="hover:text-blue-400">Sign in</a></li>
            <li><a href="/student/signup" class="hover:text-blue-400">Sign up</a></li> -->
        </ul>
    </nav>
</header>
